<mat-toolbar
  ><span>real estate application</span><span class="spacer"></span>
  <span *ngIf="username">Hello, {{ username }}</span>
  <span class="spacer"></span>
  <span *ngIf="user_type === 'admin'"
    ><a routerLink="/add/listing">Add Listing</a></span
  >
  <span *ngIf="user_type === 'customer'"
    ><a routerLink="/bookings">My Bookings</a></span
  >
  <span class="navlink"><a routerLink="/listings">Listings</a></span
  ><span class="navlink" *ngIf="!username"
    ><a routerLink="/login">Login</a></span
  >
  <span *ngIf="username"><a (click)="signout()" href="#">Logout</a></span>
  <span class="navlink" *ngIf="!username"
    ><a routerLink="/signup">Sign up</a></span
  ></mat-toolbar
>
<router-outlet></router-outlet>
